.navbar-nav{

   
    li{
        
            font-weight: 500 !important;
             font-size: 20px;
        
        
    }
}
.navbar{
   
    .logo{
        font-family: Knewave;
    }
}
.navbar__fix{
    z-index: 1000;
    position: fixed !important;
}